{% assign url = rss-item.slug | append: '/' %}
<item>
	<title><![CDATA[{{ rss-item.title }}]]></title>
	<link>{{ global.domain }}{{ url }}</link>
	<guid>{{ url }}</guid>
	{% for category in rss-item.tags %}
	<category>{{ category | html_encode }}</category>
	{% endfor %}
	<pubDate>{{ rss-item.date | date:'%a, %d %b %Y %H:%M:%S CET'}}</pubDate>
	<description>{{ rss-item.body | strip_html | truncatewords:50,'...' | html_encode }}</description>
</item>