<!doctype html>
{%- capture head_title %}{{ model.title }} | {{ global.title }}{% endcapture -%}
{%- capture head_canonical -%}
  {%- if model.canonical -%}
      {{- global.domain }}{{ model.canonical -}}
    {%- else -%}
      {%- include "util/domain-and-url" -%}
  {%- endif -%}
{%- endcapture -%}
{%- capture head_description -%}{{ model.description }}{%- endcapture -%}
{%- capture head_image -%}{{ global.domain }}{{ model.image }}{%- endcapture -%}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ head_title }}</title>
    {% include "html-head-end" %}
  </head>
  <body {% include "prettify-onload" %}>
    {% include "header" %}
    
    <div class="container article-container">
      {% include "navigation" %}
      
      {%- if model.github -%}
      <div class="row">
        <div class="col-md-12">
          <div class="github-edit">
            <a href="{{ model.github }}">Edit on GitHub</a>
          </div>
        </div>
      </div>
      {%- endif -%}
      
      <article class="row">
        {%- if model.sidebars -%}
        <aside class="col-md-3">
          <div class="visible-md-block visible-lg-block">
          {% include "article/sidebars" %}
          </div>
        </aside>
        <div class="col-md-9">
        {%- else -%}
        <div class="col-md-offset-1 col-md-10">
        {%- endif -%}
          <header class="article-header">
            <h1 class="article-title">{{ model.title }}</h1>
            {% include "article/date" %}
          </header>
          
          {%- if model.sidebars -%}
          <aside class="visible-xs-block visible-sm-block">
            {% include "article/sidebars-dropdown" %}
          </aside>
          {%- endif -%}
          
          <div class="article-content">
            {% block content %}{% endblock %}
          </div>
          
          <hr>
          {% include "article/paging" %}
        </div>
      </article>
      
      {% if model.comments %}
      <section class="row">
        {%- if model.sidebars -%}
        <div class="col-md-offset-3 col-md-9">
        {%- else -%}
        <div class="col-md-offset-1 col-md-10">
        {%- endif -%}
          <h2>Comments</h2>
          <div id="disqus_thread"></div>
        </div>
      </section>
      {% endif %}
    </div>
    
    {% include "footer" %}
    
    {% include "html-body-end" %}
  </body>
</html>