<!doctype html>
{%- capture head_title %}{{ model.title }} | {{ global.title }}{% endcapture -%}
{%- capture head_canonical -%}
  {%- if model.canonical -%}
      {{ global.domain }}{{ model.canonical }}
    {%- else -%}
      {%- include "util/domain-and-url" -%}
  {%- endif -%}
{%- endcapture -%}
{%- capture head_description -%}{{ model.description }}{%- endcapture -%}
{%- capture head_image -%}{{ global.domain }}{{ model.image }}{%- endcapture -%}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ head_title }}</title>
    {% include "html-head-end" %}
  </head>
  <body {% include "prettify-onload" %}>
    {% include "header" %}

    <div class="container post-container">
      {% include "navigation" %}
      
      <header class="post-header">
        <h1 class="post-title">{{ model.title }}</h1>
        {% assign tags = model.tags %}
        {% assign date = model.date %}
        {% assign updated = model.updated %}
        {% include "blog/date-tags" %}
      </header>

      <section class="post-content">
        {% block content %}{% endblock %}
      </section>
      
      {% if model.comments %}
      <hr>
      <section>
        <h2>Comments</h2>
        <div id="disqus_thread"></div>
      </section>
      {% endif %}
    </div>
    
    {% include "footer" %}
    
    {% include "html-body-end" %}
  </body>
</html>