<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{{ model.title }} - {{ global.title }}{% endblock %}</title>
    <meta http-equiv="refresh" content="0; url={{ model.redirect }}">
    <link rel="canonical" href="{{ global.domain }}{{ model.redirect }}" />
    {% include "analytics-js" %}
  </head>
  <body>
    <p style="text-align: center;">
    This website moved. If you are not redirected automatically please follow <a href="{{ model.redirect}}">this link</a>.
    </p>
    {% block content %}{% endblock %}
  </body>
</html>