{% layout "layout" %}

{% block title %}Blog ({{ mixture.route.tag | uri_decode }}) | {{ global.title }}{% endblock %}

{% block description %}Posts tagged {{ mixture.route.tag | uri_decode }} on {{ global.title }}{% endblock %}

{% block content %}
<div class="container container-restricted">
  {% include "navigation" %}
  
  <h1 class="text-center"><small>Posts tagged</small> {{ mixture.route.tag | uri_decode }}</h1>
  <hr class="post-ruler">

  {% collection "blog" by 20 query 'tags={{ mixture.route.tag }}' order desc %}
    {% if collection.current_page > collection.pages and collection.size > 0 %}
      {% include "blog/paged-too-far" %}
    {% elseif collection.size == 0 %}
      {% include "blog/no-posts" %}
    {% else %}
      {% assign currentpage = collection.current_page %}
      {% include "blog/post-short" with collection.items %}
      {% include "blog/paging" %}
    {% endif %}
  {% endcollection %}
</div>
{% endblock %}