{% layout "layout" %}

{% block title %}Library {% if mixture.route.topic %}({{ mixture.route.topic | uri_decode }}) {% endif %}| {{ global.title }}{% endblock %}

{% block canonical %}{{ global.domain }}/library/{% endblock %}

{% block description %}Library {% if mixture.route.topic %}({{ mixture.route.topic | uri_decode }}) {% endif %}on {{ global.title }}{% endblock %}

{% block content %}
<div class="container container-restricted">
  {% include "navigation" %}
  <div class="row">
    <div class="col-sm-3">
      <div class="panel panel-default sidebar">
        <div class="panel-heading">
          <h4 class="panel-title">Topics</h4>  
        </div>
        <div class="list-group">
          <a href="/{{ mixture.url }}/" class="list-group-item{% unless mixture.route.topic %} active{% endunless %}">All Topics</a>
          
          {%- for topic in global.libraryTopics -%}
          {%- assign topic_downcase = topic | downcase -%}
          <a href="/{{ mixture.url }}/topic/{{ topic_downcase }}/" class="list-group-item{% if mixture.route.topic == topic_downcase %} active{% endif %}">
            <i class="fa fa-fw fa-circle topic-{{ topic_downcase }}"></i> {{ topic }}</a>
          {%- endfor -%}
        </div>
      </div>
      
      <form class="text-center form-inline" action="https://google.com/search" method="get">
        <input type="hidden" name="as_sitesearch" value="code.makery.ch">
          <div class="input-group">
            <input type="text" class="form-control" name="q" results="0">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
            </span>
          </div>
      </form>
      <br>
    </div>
    
    <div class="col-sm-9">
    {%- for item in global.library -%}
      {%- comment -%}Test if item should be shown.{%- endcomment -%}
      {%- if mixture.route.topic -%}
        {%- comment -%}Test if current topic matches.{%- endcomment -%}
        {%- assign show_item = false -%}
        {%- for topic in item[1].topics -%}
          {%- assign topic_downcase = topic | downcase -%}
          {%- if mixture.route.topic == topic_downcase -%}
            {%- assign show_item = true -%}
          {%- endif -%}
        {%- endfor -%}
      {%- else -%}
        {%- comment -%}No topic, show item.{%- endcomment -%}
        {%- assign show_item = true -%}
      {%- endif -%}
      
      {%- if show_item -%}
        {%- include "library/item" with item %}
      {%- endif -%}
    {%- endfor %}
    </div>
  </div>
</div>

{%- assign js_dropdown = true -%}
{% endblock %}