{% layout "none" %}
{% contenttype "application/xml" %}
<rss xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:sy="http://purl.org/rss/1.0/modules/syndication/" xmlns:slash="http://purl.org/rss/1.0/modules/slash/" version="2.0">
  <channel>
    <title><![CDATA[{{ global.title }} (Dart)]]></title>
    <link>{{ global.domain }}</link>
    <description>{{ global.intro }}</description>
    <language>en</language>
    <webMaster>{{ global.email }}</webMaster>
    <copyright>{{ 'now' | date: "%Y" }}</copyright>
    <lastBuildDate>{{ 'now' | date:'%a, %d %b %Y %H:%M:%S CET'}}</lastBuildDate>
    <generator>mixture.io</generator>
    {% collection "blog" by 10 query 'tags=dart' order desc %}
      {% include "rss/rss-item" with collection.items %}
    {% endcollection %}
  </channel>
</rss>